
.body-div{
    min-height: 97vh;
    
    background-image: url("../backgroundImages/bodyBackground.jpg");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 4%;
}

.aa{
    text-align: center;
}
html{
    min-height: 100%;
}

.content{
    justify-content: center;
    
}

.contentController{
    margin-top: 10%;

    
}
