.Footer{
    background-color: #2d2d32;
  
    text-align: center;
   
}


.content{
    padding: 2rem 2rem;
    justify-content: center;
}
.content p{
    color: white;
    font-size: 0.25rem;
}

@media (max-width:8000px){
    .content p{
        
        font-size: calc(0.8vw + 0.25rem);
    }
    
}


@media (max-width:0px){
    .content p{
        
        font-size: calc(0.6vw + 1.25rem);
    }
    
}

