.title{
 
    text-align: center;
}


.title p{
    color: white;
    font-size: 3rem;
    font-family: Tahoma, sans-serif;
}
.title img{
    width: 4%;
    height: 4%;
    
}

@media (max-width:8000px){
    .title p{
        
        font-size: calc(1.3vw + 0.25rem);
    }
    
}


@media (max-width:0px){
    .title p{
        
        font-size: calc(0.6vw + 1.25rem);
    }
    
}

@media (max-width:8000px){
    .title img{
        
        font-size: calc(1.8vw + 0.25rem);
    }
    
}


@media (max-width:0px){
    .title img{
        
        font-size: calc(0.6vw + 1.25rem);
    }
    
}