.title{
    text-align: center;
}


.title h1{
    color: white;
    font-size: 3rem;
}
.title img{
    width: 4%;
    height: 4%;
    
}

@media (max-width:8000px){
    .title h1{
        
        font-size: calc(1.8vw + 0.25rem);
    }
    
}


@media (max-width:0px){
    .title h1{
        
        font-size: calc(0.6vw + 1.25rem);
    }
    
}

@media (max-width:8000px){
    .title img{
        
        font-size: calc(1.8vw + 0.25rem);
    }
    
}


@media (max-width:0px){
    .title img{
        
        font-size: calc(0.6vw + 1.25rem);
    }
    
}